@font-face {
	font-family: 'checkbox';
	src:url('../fonts/checkbox.eot?9w5ps0');
	src:url('../fonts/checkbox.eot?#iefix9w5ps0') format('embedded-opentype'),
		url('../fonts/checkbox.woff?9w5ps0') format('woff'),
		url('../fonts/checkbox.ttf?9w5ps0') format('truetype'),
		url('../fonts/checkbox.svg?9w5ps0#checkbox') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tabaco:before {
	content: "\e600";
}
.icon-sedantes:before {
	content: "\e601";
}
.icon-poper:before {
	content: "\e602";
}
.icon-opioides:before {
	content: "\e603";
}
.icon-metaanfetamina:before {
	content: "\e604";
}
.icon-marihuana:before {
	content: "\e605";
}
.icon-lsd:before {
	content: "\e606";
}
.icon-ketamina:before {
	content: "\e607";
}
.icon-heroina:before {
	content: "\e608";
}
.icon-extasis:before {
	content: "\e609";
}
.icon-cocaina:before {
	content: "\e60a";
}
.icon-alcohol:before {
	content: "\e60b";
}
