body{font-size:28px}
#chartCanvas{width:400px !important;height:400px !important}
.aditional_info{margin:.5em 0}
.drug_chart_title{font-size:.9em}
.ui-btn-icon-notext.ui-btn-left{top:1.1em;left:1em}
.menu_btn:before{font-size:1.8em}
.drug_label{line-height:3.2}
.drug_statistic{width:80px;height:80px;line-height:1.5;padding:0}
.ui-btn-icon-left:after,.ui-btn-icon-right:after,.ui-btn-icon-top:after,.ui-btn-icon-bottom:after,.ui-btn-icon-notext:after{width:40px;height:40px;margin-top:-20px;margin-left:-20px}
.ui-btn-icon-notext{width:40px;height:40px}
.ui-icon-back:after{backgorund-size:60%;-webkit-background-size:60%}
.ui-page-theme-a .tab{font-size:16px !important}
