.legend {
    border: 1px solid black;
}

.legend .title {
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
#drug_info p {
	color: #FFF;
	text-align: center;
	
}

p {color:white;}
