@import "variables.styl"

*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-user-select html
  user-select html

body
  -webkit-text-size-adjust none
  -webkit-touch-callout none
  -webkit-user-select none
  background-attachment fixed
  background-color #0085B8 !important
  font-family primary-font
  font-size 16px
  height 100%
  margin 0px
  padding 0px
  width 100%

// jquery ui overrides
.ui-content
  padding-bottom 0
  padding-top 0
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
  background #0085B8

.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c 
  text-align center  

.ui-page-theme-a .ui-bar-inherit 
  background none
  border-bottom 1px solid light-color
  & h1
    color light-color
    text-shadow none
    font-weight normal

.ui-panel.ui-panel-open
  position fixed    

.ui-panel-inner
  box-sizing border-box
  -moz-box-sizing border-box
  position absolute
  left 0
  top 1px
  right 0
  bottom 0
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch

.ui-page-theme-a .tab
  background none
  color light-color
  font-weight normal    
  text-shadow none
  border-color light-color
  font-family primary-font    

// my styles
[data-role="page"]
  background #0085B8

#back_btn
  border-radius .3125em
  display none
  box-shadow none
  padding .4em .46em
  top 50%
  margin-top -17.5px
  left .8em
  position absolute
  &:before
    color #0085B8
    color rgba(#0085B8, .8)
    font-size 1.8em
  &.ui-btn-active
    background-color darken(#fefefe, 10%)
    border-color darken(#fefefe, 20%)
    color light-color
    text-shadow none
  &.block
    display block             

#chartCanvas
  margin .5em auto
  display block

#close_btn
  background transparent
  padding .2em
  text-align center
  border none
  text-shadow none
  color light-color
  top 50%
  margin-top -15px
  &:before
    font-size 2em 
  &.ui-btn-active
    color darken(light-color, 20%)   

#drug
  margin 1em 0 
  img
    width 100%  

#drug_chart
  img
    width 100%    

#drug_item 
  > .ui-content
    box-sizing border-box
    -webkit-box-sizing border-box
    position relative

#drug_info
  text-shadow none    

#footer
  text-align center

#header, #footer
  background light-color
  height auto
  padding .5em 0

#home
  -moz-background-size cover
  background-size cover

#info_panel
  position fixed
    
#odc_info
  top 50%
  margin-top -17.5px
  right .8em
  padding .4em 1em
  &:before
    color #0085B8
    color rgba(#0085B8, .8)
    font-size 1.8em
    font-weight normal
  &.ui-btn-active
    background-color darken(#fefefe, 10%)
    border-color darken(#fefefe, 20%)
    color light-color
    text-shadow none  
    

#pageHeader
  border-top none
  h1
    font-size 1.2em
    text-transform uppercase
    font-family headlines-font     

#panel_header
  background #0085B8
  color light-color 
  
#panel_title
  text-shadow none
  width 90%
  margin 0 auto
  font-size 1.2em
  padding .5em 0      

#tabs
  -webkit-box-sizing border-box
  box-sizing border-box 
  height auto
  padding-top 10px
  padding-left 0
  padding-right 0
  .tab
    font-size .9em

.aditional_info
  margin 1em 0
  text-shadow none
  font-size 1em
  color light-color

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-weight normal 
    font-family headlines-font

  ul
    padding 0
    list-style none

.bold
  font-weight bold 

.drug_bg
  position absolute
  top 0
  left 0
  width 100%
  height 100% 
  background-size cover
  -webkit-background-size cover
  background-position center center
  background-attachment fixed

.drug_title
  color light-color
  text-shadow none
  font-weight normal
  margin .3em 0

.drug_label
  color light-color
  text-transform none
  text-shadow none 
  position relative
  white-space nowrap
  &__interna + &__interna
    margin-top 1em
    

.drug_statistic
  position absolute
  top 50%
  margin-top -16px
  right 0
  border 2px solid light-color
  padding .3em
  border-radius 100%
  width 20px
  height 20px
  text-align center 
  line-height 1
  &_num
    font-size 1em 
    position absolute
    top 50%
    left 50%
    margin-top -.5em
    margin-left -.5em 

.drug_chart_title
  color light-color
  text-shadow 1px 1px 0 rgba(0,0,0, .2)
  font-size 1em
  text-align center
  font-weight normal

.ellipsis
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  display block
  margin .5em 0
  color light-color 

.entidades
  img
    background darken(light-color, 8%)
    padding 5% 
    display block
    margin 0 auto
    width 90%
    & + img
      margin-top .2em

.footer_logo  
  width 28%
  display inline-block
  vertical-align middle
  & + .footer_logo
    margin-left 4%

  & img
    width 100%

.hr
  width 90%
  margin 6px auto
  height 3px
  background #28328a    

.home_title
  font-size 2em
  color light-color
  text-align center
  text-shadow none
  font-weight normal
  margin .67em 0

.home_introduction
  color light-color
  text-shadow none
  font-size 1em
  text-transform none
  text-align center 


.legend
  background #fafafa
  & .title
    text-transform none
    text-shadow none
    font-size 1em   

// .marihuana_bg 
//   background-image url(../img/marihuana.jpg) 

.menu_btn_wrapper
  width 100%
  padding 8px 0

.menu_btn
  -moz-box-sizing border-box
  border .2em solid light-color
  border-radius 50%
  box-sizing border-box
  display inline-block 
  padding-top 90%
  text-align center
  text-decoration none
  width 90%
  margin 0 auto
  position relative
  font-weight normal
  &:before
    font-size 3em
    position absolute
    top 50%
    left 50%
    margin-top -24px
    margin-left -24.5px
    color light-color
    text-shadow none
    font-weight normal

.menu_btn_link
  display block
  width 100%
  height 100%
  text-decoration none

.odc_logo
  display block
  height auto
  margin 0 auto
  padding 0
  width 60%
  max-width 364px
  & img
    width 100%

.panel_content
  background darken(light-color, 1%)
  padding .5em
  margin-top 1em 

.panel_list
  margin 0
  padding 0
  list-style none
  li
    padding .1em .4em
    background darken(light-color, 8%)
    & + li
      margin-top .2em
    p
      color lighten(#000, 5%)
      margin .3em 0

.panel-opened
  overflow hidden       

.panel_twitterIcon
  width 24px
  height 24px
  display inline-block
  vertical-align middle
  img
    width 100%         

.panel_subtitle
  font-size 1.2em         

.red_point
  background silueta-btn
  height 24px
  width 24px
  position absolute
  top 30%
  left 43%
  border-radius 50%
  box-shadow 0 0 12px 2px rgba(silueta-btn, .8)
  animation blinkbtn 2s infinite
  -webkit-animation blinkbtn 2s infinite
  transition all .2s ease

  &.cabeza
    top -2%
  &.boca
    top 7%
  &.garganta
    top 10%
  &.corazon
    top 21%
    left 57%
  &.estomago
    top 40%
  &.higado
    top 27%
    left 57%
  &.sistemarespiratorio
    top 20%
  &.sistemaarterial
    top 10%
    left 52%
  &.ojos
    top 4%
    left 38%
  &.torax
    top 24%
  &.pulmones
    top 22%
    left 29%
  
.tab_body
  box-sizing border-box
  -webkit-box-sizing border-box
  position relative    

.silueta
  width 100%
  max-width 160px
  margin 0 auto  
  display block
  position relative 
  img
    width 100%

@keyframes blinkbtn {
  0%{
    background silueta-btn
    box-shadow 0 0 12px 2px rgba(silueta-btn, .8)
  }
  50%{
    background darken(silueta-btn, 15%)
    box-shadow 0 0 12px 2px rgba(silueta-btn, .5)
  }
  100%{
    background silueta-btn
    box-shadow 0 0 12px 2px rgba(silueta-btn, .8)
  }
}    

@media screen and (min-width: 480px)
  .menu_btn
    &:before
      font-size 5em
      margin-left - 40.5px
      margin-top - 40px    

@media screen and (min-width: 768px)
  .menu_btn
    &:before
      font-size 7em
      margin-left - 56.5px
      margin-top - 56px


@media screen and (min-width: 1110px)
  .menu_btn
    padding-top 70%
    width 70%
    &:before
      font-size 10em
      margin-left - 80px
      margin-top - 80px




    

