// body
//   font-size 21px

// .menu_btn
//   &:before
//     margin-left - 53.5px
//     margin-top - 53px 

// @media screen and (min-width: 480px)
//   .menu_btn
//     &:before
//       font-size 1em
//       margin-left - 40.5px
//       margin-top - 40px 
 
      
