// jquery mobile overrides
.ui-navbar li .ui-btn
  font-size 1.2em

#back_btn,
#odc_info
  margin-top -21.5px
  &:before
    font-size 2.5em

#back_btn
  left 1.2em

#description
  font-size 1.4em  
#odc_info
  padding .4em 1.15em
  right 1.2em

#info_panel
  width 76%  

#pageHeader 
  h1
    font-size 1.5em
    margin 0 auto

#share_btn
  width 44px
  height 44px
  padding 10px
  margin-top -(@width/2)

#tabs .tab
  font-size 1.2em  

.drug_label
  font-size 1.5em   

.red_point
  height 28px
  width 28px 

 
      
