primary-font = 'open_sansregular', 'HelveticaNeue', Helvetica, Arial, sans-serif
headlines-font = 'open_sansbold', 'HelveticaNeue', Helvetica, Arial, sans-serif
light-color = #F7F7F7
silueta-btn = #f00f0f